//FORM PAGE STYLING
.formContainer {
    background-color: darkgray;
    padding: 20px;

}

form {
    background-color: white;
    border: darkgray solid 2px;
    width: 100%;
    padding: 40px;
}

h2 {
    text-align: center;
}

#submitbtn {
    width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}