//form
form {
    background-color: white;
    border: darkgray solid 2px;
    width: 80%;
    padding: 40px;
}

button {
    @include grid-column(3);
    background-color: #6AB1B8; /* Green */
    border: none;
    color: white;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 16px;
    // margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    background-color: white; 
    color: black; 
    border: 2px solid #6AB1B8;
}

button:hover {
    background-color: #6AB1B8;
    color: white;
}