// HERO HEADER IMAGE 
.hero {
	background: url('http://i68.tinypic.com/fjktnd.jpg') no-repeat center center;
	background-size: cover;
	height: 500px;

	h1 {
		color: white;
		font-family: 'Pathway Gothic One', sans-serif;
		text-shadow: 2px 4px 2px darkslategray;
		font-size: 4rem;
		line-height: 1em;
		font-weight: 700;
		text-align: center;
		margin-top: 70px;
		letter-spacing: -0.025em;
	}

	p {
		color: white;
		font-family: 'Pathway Gothic One', sans-serif;
		text-shadow: 1px 1px #6AB1B8;
		font-size: 1.7rem;
		line-height: 1.75em;
		font-weight: 400;
		text-align: center;
		margin-bottom: 2rem;	
	}

	button {
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.5rem;
		background-color: #6AB1B8;
		margin-left: 35%;
		margin-right: 35%;
		width: 30%;
		padding: 2%;
		-webkit-transition-duration: 0.4s; /* Safari */
    	transition-duration: 0.4s;
    	cursor: pointer;
	}

	button {
    	color: white; 
		background-color: #6ab1b8; 
	}

	button:hover {
		color: #6ab1b8;
    	background-color: white;  	
	}
}