// Top Bar

section .top-bar {
    background: #6AB1B8;
    padding: 0rem;

    ul {
      background: #6AB1B8;
      text-decoration-style: none;
      list-style-type: none;
      
      a {
        color: white;
      }
    }
}


// Hero Header Image
.hero {
  background: url('http://i68.tinypic.com/fjktnd.jpg') no-repeat center center;
  background-size: cover;
  height: 80vh;

  .row {
    // border: darkgrey solid 1px;
    padding: 10%;
}

.columns {
    margin: 10px;
}

      h1 {
        color: white;
        text-shadow: 2px 4px 2px darkslategray;
        font-size: 4rem;
        font-family: 'Open Sans', sans-serif;
        line-height: 1em;
        letter-spacing: -0.025em;
        font-weight: 700;
        text-align: center;
        }
  
        p {
        color: #6AB1B8;
        text-shadow: 1px 1px white;
        font-size: 1.5rem;
        line-height: 1.75em;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2rem;
        }
}