/* Include Foundation*/
@import '../node_modules/foundation-sites/scss/foundation'; //because its in a scss folder
@include foundation-global-styles;

$global-flexbox: true;

@import 'form';
@import 'homePage';
@import 'map';

//working with Foundation Flex-Grid for the first time
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-top-bar;


// TOP BAR
.top-bar {
    background-color: #6AB1B8;
    padding: 0px;


    ul {
        list-style-type: none;
        background-color: #6AB1B8;
        margin: 0 10px;

        a {
            padding: 10px;
        }
        /* unvisited link */
        a:link {
            color: white;
        }

        /* visited link */
        a:visited {
            color: white;
        }

        /* mouse over link */
        a:hover {
            color: #872714;
        }

        #nameLogo {
            font-family: 'Pathway Gothic One', sans-serif;
            font-size: 24px;
            
        } 
    }
}

footer {
    p {
    color: white;
    font-size: 10px;
    text-align: center;
    background-color: #686D6E;
    padding: 15px;
    }

    a:link {
        color: white;
    }
     a:visited {
            color: white;
        }
    a:hover {
        color: #872714;    
    }
}









