<section class="top-bar" id="main-menu" data-options="sticky_on: [medium,large]">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li id="title"></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal expanded right" data-responsive-menu="drilldown medium-dropdown">
            <li><a href="#">Log In</a></li>
            <li><a ui-sref="join-network">Join the Network</a></li>
        </ul>
    </div>
</section>

<!-- Hero Photo Header -->
<section class="hero">
    <div class="row intro">
        <div class="small-centered medium-uncentered medium-6 large-7 columns">
            <h1>Connecting Communities</h1>
            <p>A Refugee and Immigrant Resource Network</p>
            <!--<a ui-sref="charlotte-map" class="btn btn-primary">Resources Map</a>-->
            <button ui-sref="charlotte-map">Resource Map</button>
        </div>
</section>

<!-- Inject Content-->
<div class="container">
    <ui-view></ui-view>
</div>