<!-- REGISTRATION FORM-->
<section class="small-12 medium-12 large-12 columns formContainer">

    <form>
        <h2>Network Registration Form</h2>
        <div class="row">
            <div class="small-12 medium-6 large-6 columns">
                <label>Organization Name
                    <input type="text" ng-model="registration.name" placeholder="name">
                </label>
            </div>

            <div class="small-12 medium-6 large-6 columns">
                <label>Organization Address
                    <input type="text" ng-model="registration.address" placeholder="address">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-6 large-6 columns">
                <label>Organization Phone
                    <input type="text" ng-model="registration.phoneNumber" ng-pattern="/^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" placeholder="phone">
                </label>
            </div>

            <div class="small-12 medium-6 large-6 columns">
                <label>Contact Email
                    <input type="email" ng-model="registration.email" placeholder="contact email">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-6 large-6 columns">
                <label>Contact Person
                    <input type="text" ng-model="registration.contactPerson" placeholder="contact person">
                </label>
            </div>
            <div class="small-12 medium-6 large-6 columns">
                <label>Organization Website
                    <input type="url" ng-model="registration.website" placeholder="website">
                </label>
            </div>

        </div>

        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                <fieldset class="fieldset">
                    <legend>What type of organization are you? (Pick One)</legend>
                    <input id="agency" type="checkbox"><label for="checkbox1" ng-model="registration.category">Agency/Organization</label>
                    <input id="school" type="checkbox"><label for="checkbox2" ng-model="registration.category">School</label>
                    <input id="health" type="checkbox"><label for="checkbox3" ng-model="registration.category">Health Provider/Clinic</label>
                </fieldset>
            </div>
        </div>
        
        <div class="small-12 medium-12 large-12 columns">
            <a ui-sref="home-page"><button id="submitbtn" ng-click="submitRegistration()" class="alert button">Submit</button></a>
        </div>
    </form>

</section>