    <div class="row">
                <div class="small-3 columns">
                    <label for="middle-label" class="text-right middle">Name</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="middle-label" ng-model="regForm.name" placeholder="name">
                </div>
            
           
                <div class="small-3 columns">
                    <label for="middle-label" class="text-right middle">Address</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="middle-label" ng-model="regForm.address" placeholder="address">
                </div>
            
           
                <div class="small-3 columns">
                    <label for="middle-label" class="text-right middle">Phone</label>
                </div>
                <div class="small-9 columns">
                    <input type="number" id="middle-label" ng-model="regForm.phone" placeholder="phone">
                </div>
           

                <div class="small-3 columns">
                    <label for="middle-label" class="text-right middle">Contact Person</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="middle-label" ng-model="regForm.contactPerson" placeholder="contact person">
                </div>
          

                <div class="small-3 columns">
                    <label for="middle-label" class="text-right middle">Contact Email</label>
                </div>
                <div class="small-9 columns">
                    <input type="email" id="middle-label" ng-model="regForm.email" placeholder="contact email">
                </div>
            

            

                <div class="small-3 columns">
                    <label for="middle-label" class="text-right middle">Website</label>
                </div>
                <div class="small-9 columns">
                    <input type="url" id="middle-label" ng-model="regForm.website" placeholder="website">
              </div>

                <fieldset class="fieldset">
                    <legend>What type of organization are you? (Pick One)</legend>
                    <input id="agency" type="checkbox"><label for="checkbox1" ng-model="regForm.category">Agency/Organization</label>
                    <input id="school" type="checkbox"><label for="checkbox2" ng-model="regForm.category">School</label>
                    <input id="health" type="checkbox"><label for="checkbox3" ng-model="regForm.category">Health Provider/Clinic</label>
                </fieldset>

            </div>

            <button ng-click="submitRegistration()">Submit</button>
            <button ng-click="resetRegForm()">Reset</button>

        </form>
        <div>