<!-- MAP CONTAINER -->
<section class="map-container">
    <div id="map-title" class="small-12 medium-10 large-10 columns">
        <h3>Charlotte-Mecklenburg Resources Map</h3>
    </div>

    <!-- MAP -->
    <div class="row">
        <div id="mapBox" class="small-12 large-9 columns">
            <div id="mapid"></div>
        </div>

        <!-- MAP PANEL -->   
        <div class="align-bottom align-v-container small-12 medium-12 large-3 columns">
           <div class="row"><img src="img/Charlotte_Skyline_2011_-_Ricky_W (1).jpg"></img></div>
            <div class="row search-row">
                <input type="search" ng-model="searchName" placeholder="Search">
                <button class="find" ng-click="getName()">FIND</button>
            </div>
            <div class="row"><button ng-click="showAgencies()">Agencies</button></div>
            <div class="row"><button ng-click="showHealth()">Medical</button></div>
            <div class="row"><button ng-click="showSchoolsC()">Schools</button></div>
            <div class="row"><button ng-click="showCmLibraries()">Libraries</button></div>
            <div class="row"><button ng-click="showAll()">Display All</button></div>
        </div>
    </div>
</section>