<!--<div id="container">
    <div id="map-buttons">

        <button class="btn" ng-click="showAll()">Show All</button>
        <button class="btn" ng-click="showAgencies()">Agencies</button>
        <button class="btn" ng-click="showHealth()">Health Clinics</button>
        <button class="btn" ng-click="showSchoolsC()">Schools</button>
        <button class="btn" ng-click="showCmLibraries()">Libraries</button>-->
<!--<button class="btn" ng-click="showSchoolsL()">Lang Schools</button>-->
<!--</div>

    <div id="mapBox">
        <div id="mapid"></div>
    </div>
</div>-->

<div class="row">
    <div id="mapBox" class="large-8 columns">
        <div id="mapid"></div>
    </div>

    <div class="large-4 columns">
        <div class="panel">
            <h3>Resource Menu</h3>
            <button class="btn" ng-click="showAll()">Show All</button>
            <button class="btn" ng-click="showAgencies()">Agencies</button>
            <button class="btn" ng-click="showHealth()">Health Clinics</button>
            <button class="btn" ng-click="showSchoolsC()">Schools</button>
            <button class="btn" ng-click="showCmLibraries()">Libraries</button>-->
            <!--<button class="btn" ng-click="showSchoolsL()">Lang Schools</button>-->
        </div>
    </div>
</div>