<section class="hero">
    <div class="row intro">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Connecting Communities</h1>
            <p>A Refugee and Immigrant Resource Network</p>
        </div>
    </div>
    <!--<div class="small-12 medium-12 large-3columns" </div>

            <a ui-sref="charlotte-map"><button>Resource Map</button></a>
        </div>-->
    <div class="button-group small-12 medium-12 large-12 columns" data-grouptype="OR">
        <button href="#" class="small button primary radius">Join the Network</button>
        <a ui-sref="charlotte-map"><button class="small button success radius">Look for Resources</button></a>
    </div>

</section>